In [1]:
test_y = [1, 1, 0, 0, 1, 1, 0, 0]
pred_y = [1, 1, 0, 1, 1, 0, 0, 0]

In [2]:
zip(pred_y, test_y)

In [3]:
list(zip(pred_y, test_y))

[(1, 1), (1, 1), (0, 0), (1, 0), (1, 1), (0, 1), (0, 0), (0, 0)]

In [4]:
def evaluate_model(predictions, actuals):
    correct_count = sum([1 for p, a in zip(predictions, actuals) if p == a])
    total_count = len(actuals)
    return correct_count / total_count

evaluate_model(pred_y, test_y)

0.75

In [5]:
evaluate_model(['a', 'b', 'c', 'd', 'd'], ['a', 'b', 'c', 'd', 'e'])

0.8

In [8]:
import random

possible_values = ['a', 'b', 'c']
actual_values = []
predicted_values = []

for n in range(1000):
    actual_values.append(possible_values[random.randint(0, 2)])
    predicted_values.append(possible_values[random.randint(0, 2)])

evaluate_model(predicted_values, actual_values)

0.345

In [34]:
fruits = ['apple', 'cherry', 'cherry', 'cherry', 'apple', 'apple', 'banana']

In [35]:
[fruit + fruit for fruit in fruits if fruit == 'apple']

['appleapple', 'appleapple', 'appleapple']

In [37]:
[fruit + fruit if fruit == 'apple' else fruit + '_notapple' for fruit in fruits]

['appleapple',
 'cherry_notapple',
 'cherry_notapple',
 'cherry_notapple',
 'appleapple',
 'appleapple',
 'banana_notapple']

In [9]:
student_grades = [
    {
        'name': 'John',
        'subject': 'Math',
        'grade': 60
    },
    {
        'name': 'Hanna',
        'subject': 'Chemistry',
        'grade': 75
    },
    {
        'name': 'Kate',
        'subject': 'Math',
        'grade': 70
    },
    {
        'name': 'John',
        'subject': 'Chemistry',
        'grade': 65
    },
    {
        'name': 'Hanna',
        'subject': 'Math',
        'grade': 92
    },
    {
        'name': 'Kate',
        'subject': 'Chemistry',
        'grade': 90
    }
]

In [10]:
def get_sorted_by(items=student_grades, attr='grade', reverse=False):
    return sorted(items, key=lambda item: item[attr], reverse=reverse)

In [11]:
get_sorted_by()

[{'name': 'John', 'subject': 'Math', 'grade': 60},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'Hanna', 'subject': 'Chemistry', 'grade': 75},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90},
 {'name': 'Hanna', 'subject': 'Math', 'grade': 92}]

In [12]:
get_sorted_by(reverse=True)

[{'name': 'Hanna', 'subject': 'Math', 'grade': 92},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90},
 {'name': 'Hanna', 'subject': 'Chemistry', 'grade': 75},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65},
 {'name': 'John', 'subject': 'Math', 'grade': 60}]

In [13]:
get_sorted_by(attr='name')

[{'name': 'Hanna', 'subject': 'Chemistry', 'grade': 75},
 {'name': 'Hanna', 'subject': 'Math', 'grade': 92},
 {'name': 'John', 'subject': 'Math', 'grade': 60},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90}]

In [14]:
get_sorted_by(attr='subject')

[{'name': 'Hanna', 'subject': 'Chemistry', 'grade': 75},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90},
 {'name': 'John', 'subject': 'Math', 'grade': 60},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'Hanna', 'subject': 'Math', 'grade': 92}]

In [ ]:
def get_sorted_by_multiple(items=student_grades, attrs=('subject', 'grade'), reverse=False):
    return sorted(items, key=lambda item: tuple(item[attr] for attr in attrs), reverse=reverse)

In [17]:
get_sorted_by_multiple(reverse=True)

[{'name': 'Hanna', 'subject': 'Math', 'grade': 92},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'John', 'subject': 'Math', 'grade': 60},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90},
 {'name': 'Hanna', 'subject': 'Chemistry', 'grade': 75},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65}]

In [30]:
def get_student(name):
    return list(filter(lambda item: item['name'] == name, student_grades))

def get_grades_above_included(n):
    return list(filter(lambda item: item['grade'] >= n, student_grades))

def get_grades_below(n):
    return list(filter(lambda item: item['grade'] < n, student_grades))

def get_changed(attr, from_value, to_value):
    return list(map(lambda item: {**item, attr: to_value} if item[attr] == from_value else item, student_grades))

In [24]:
get_student('John')

[{'name': 'John', 'subject': 'Math', 'grade': 60},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65}]

In [26]:
get_grades_above_included(90)

[{'name': 'Hanna', 'subject': 'Math', 'grade': 92},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90}]

In [33]:
get_grades_below(75)

[{'name': 'John', 'subject': 'Math', 'grade': 60},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'John', 'subject': 'Chemistry', 'grade': 65}]

In [32]:
get_changed('name', from_value='John', to_value='Dave')

[{'name': 'Dave', 'subject': 'Math', 'grade': 60},
 {'name': 'Hanna', 'subject': 'Chemistry', 'grade': 75},
 {'name': 'Kate', 'subject': 'Math', 'grade': 70},
 {'name': 'Dave', 'subject': 'Chemistry', 'grade': 65},
 {'name': 'Hanna', 'subject': 'Math', 'grade': 92},
 {'name': 'Kate', 'subject': 'Chemistry', 'grade': 90}]