–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –º–∏ –ø–æ–±—É–¥—É—î–º–æ —Ä—ñ—à–µ–Ω–Ω—è –∑–∞–¥–∞—á—ñ –ª–æ–≥—ñ—Å—Ç–∏—á–Ω–æ—ó —Ä–µ–≥—Ä–µ—Å—ñ—ó —ñ —Å—Ç–≤–æ—Ä–∏–º–æ –≤–∞—à –ø–µ—Ä—à–∏–π submission –Ω–∞ –∑–º–∞–≥–∞–Ω–Ω—è –Ω–∞ Kaggle. –£—Å—ñ –∫—Ä–æ–∫–∏ –±—É–ª–∏ —Ä–æ–∑–≥–ª—è–Ω—É—Ç—ñ –≤ –ª–µ–∫—Ü—ñ—ó —Ç–∞ –º—ñ—Å—Ç—è—Ç—å—Å—è –≤ –Ω–æ—É—Ç–±—É—Ü—ñ `–õ–æ–≥—ñ—Å—Ç–∏—á–Ω–∞ —Ä–µ–≥—Ä–µ—Å—ñ—è –∑ ScikitLearn. –ü–æ–≤–Ω–∞ ML –∑–∞–¥–∞—á–∞.ipynb`, –∞–ª–µ —Ç–µ–ø–µ—Ä –º–∏ —ó—Ö –∞–¥–∞–ø—Ç—É—î–º–æ –¥–æ —ñ–Ω—à–æ—ó –∑–∞–¥–∞—á—ñ - –≤—Å–µ —è–∫ –≤ —Ä–µ–∞–ª—å–Ω–æ–º—É –∂–∏—Ç—Ç—ñ, –∫–æ–ª–∏ –≤–∏ –∑–Ω–∞–π—à–ª–∏ –∫–æ–¥ —É –≤—ñ–¥–∫—Ä–∏—Ç–∏—Ö –¥–∂–µ—Ä–µ–ª–∞—Ö —ñ –∞–¥–∞–ø—Ç—É—î—Ç–µ –Ω–∞ –ø—Ä–æ—î–∫—Ç—ñ üòâ

**–ü–æ–≥–Ω–∞–ª–∏! üöÄüöÄüöÄ**

-----------



0. –ó–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ –¥–∞–Ω—ñ `train.csv`, `test.csv`, `sample_submission.csv` –∑—ñ –∑–º–∞–≥–∞–Ω–Ω—è –Ω–∞ Kaggle - —à—É–∫–∞–π—Ç–µ –ø–æ—Å–∏–ª–∞–Ω–Ω—è –≤ —É—Ä–æ—Ü—ñ [–ó–∞–ø—Ä–æ—à–µ–Ω–Ω—è –¥–æ —É—á–∞—Å—Ç—ñ —É Kaggle-–∑–º–∞–≥–∞–Ω–Ω—ñ.](https://data-loves.kwiga.com/courses/machine-learning-dlia-liudei/domashnie-zavdannia-zmagannia-z-kaggle) –î–ª—è –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è –ø–æ—Ç—Ä—ñ–±–Ω–æ –¥–æ–ª—É—á–∏—Ç–∏—Å—å –¥–æ –∑–º–∞–≥–∞–Ω–Ω—è (–Ω–∞—Ç–∏—Å–Ω—É—Ç–∏ –∫–Ω–æ–ø–∫—É "Join").

1. –ó—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ `train.csv` –≤ pandas dataframe —Ç–∞ —Ä–æ–∑–±–∏–π—Ç–µ —ó—Ö –Ω–∞ train —ñ validation –ø—ñ–¥–Ω–∞–±–æ—Ä–∏.

  * –Ñ —Ç–∞–∫–∏–π –ø–∞—Ä–∞–º–µ—Ç—Ä –≤ –º–µ—Ç–æ–¥—ñ train_test_split —è–∫ stratified. –ú–æ–∂–ª–∏–≤–æ –≤—ñ–Ω –±—É–¥–µ –í–∞–º –∫–æ—Ä–∏—Å–Ω–∏–º –ø—Ä–∏ —Ä–æ–∑–±–∏—Ç—Ç—ñ –¥–∞–Ω–∏—Ö –≤ —Ü—ñ–π –∑–∞–¥–∞—á—ñ. –ü—Ä–æ–ø–æ–Ω—É—é –í–∞–º –ø–æ—á–∏—Ç–∞—Ç–∏ –ø—Ä–æ –Ω—å–æ–≥–æ –≤ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü—ñ—ó —ñ —Å–ø—Ä–æ–±—É–≤–∞—Ç–∏ —Å–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏—Å—å.

In [1]:
import pandas as pd
import numpy as np

from mlpeople.io.google_drive import download_file_iss

# download files from google drive
download_file_iss('1Xz-cqp6y-Y_oCiaSJeNsbU3-o5lM-5wY', output_path='./downloads/train.csv')
download_file_iss('1jsg2iPVphDMiHCEyqQeDSc4yDcMB3-r_', output_path='./downloads/test.csv')
download_file_iss('1tv0beG2n8cUQ6KcdaXhFzQI_Fd9640gg', output_path='./downloads/sample_submission.csv')

# read train.csv / show first 5 rows / show info
raw_df = pd.read_csv('downloads/train.csv')
display(raw_df.shape)
display(raw_df.head())
display(raw_df.info())

(15000, 14)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15779985.0,Nwankwo,678.0,France,Male,29.0,4.0,0.00,3.0,1.0,0.0,180626.36,0.0
1,1,15650086.0,Ch'in,687.0,France,Female,34.0,1.0,0.00,2.0,0.0,1.0,63736.17,0.0
2,2,15733602.0,Thompson,682.0,France,Female,52.0,6.0,0.00,3.0,0.0,0.0,179655.87,1.0
3,3,15645794.0,Macleod,753.0,Germany,Male,44.0,6.0,83347.25,2.0,1.0,0.0,161407.48,0.0
4,4,15633840.0,Hsia,544.0,Germany,Female,55.0,0.0,107747.57,1.0,1.0,0.0,176580.86,1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   CustomerId       15000 non-null  float64
 2   Surname          15000 non-null  object
 3   CreditScore      15000 non-null  float64
 4   Geography        15000 non-null  object
 5   Gender           15000 non-null  object
 6   Age              15000 non-null  float64
 7   Tenure           15000 non-null  float64
 8   Balance          15000 non-null  float64
 9   NumOfProducts    15000 non-null  float64
 10  HasCrCard        15000 non-null  float64
 11  IsActiveMember   15000 non-null  float64
 12  EstimatedSalary  15000 non-null  float64
 13  Exited           15000 non-null  float64
dtypes: float64(10), int64(1), object(3)
memory usage: 1.6+ MB

None

In [2]:
from mlpeople.eda.reporting import describe_dataframe

describe_dataframe(raw_df)

,column_id,data_type,unique_values,missing_values,mean,std,min,max
0,id,int64,15000,0,7499.50,4330.27,0.00,14999.00
1,CustomerId,float64,6348,0,15691456.68,135205.03,1581102.00,15815690.00
2,Surname,object,764,0,NaN,NaN,NaN,NaN
3,CreditScore,float64,378,0,658.94,72.26,431.00,850.00
4,Geography,object,3,0,NaN,NaN,NaN,NaN
5,Gender,object,2,0,NaN,NaN,NaN,NaN
6,Age,float64,56,0,37.74,8.22,18.00,74.00
7,Tenure,float64,11,0,5.03,2.78,0.00,10.00
8,Balance,float64,3395,0,42729.79,59727.31,0.00,209767.31
9,NumOfProducts,float64,4,0,1.59,0.53,1.00,4.00
10,HasCrCard,float64,2,0,0.79,0.41,0.00,1.00
11,IsActiveMember,float64,2,0,0.49,0.50,0.00,1.00
12,EstimatedSalary,float64,6242,0,117784.67,45734.45,11.58,199992.48
13,Exited,float64,2,0,0.20,0.40,0.00,1.00

In [3]:
raw_df["Exited"].value_counts(normalize=True)

Exited
0.0    0.796533
1.0    0.203467
Name: proportion, dtype: float64

In [4]:
# split train and test data
from sklearn.model_selection import train_test_split

def split_train_val(df, test_size=0.2, random_state=42, stratif_by_col=None):
    if stratif_by_col is not None:
        return train_test_split(raw_df, test_size=test_size, random_state=random_state, stratify=df[stratif_by_col])
    else:
        return train_test_split(raw_df, test_size=test_size, random_state=random_state)

train_df, val_df = split_train_val(raw_df, test_size=0.2, random_state=42, stratif_by_col="Exited")

train_df["Exited"].value_counts(normalize=True)

Exited
0.0    0.7965
1.0    0.2035
Name: proportion, dtype: float64

2. –í–∏–∑–Ω–∞—á—ñ—Ç—å –Ω–∞–∑–≤–∏ –∫–æ–ª–æ–Ω–æ–∫, —è–∫—ñ —Å—Ñ–æ—Ä–º—É—é—Ç—å –≤—Ö—ñ–¥–Ω—ñ –Ω–µ–∑–∞–ª–µ–∂–Ω—ñ –¥–∞–Ω—ñ, –≤ –∑–º—ñ–Ω–Ω—ñ–π `input_cols` —Ç–∞ –Ω–∞–∑–≤—É –∫–æ–ª–æ–Ω–∫–∏ , —è–∫–∞ —î —Ü—ñ–ª—å–æ–≤–æ—é, –≤ –∑–º—ñ–Ω–Ω—ñ–π `target_col`. –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ `input_cols` —Ç–∞ `target_col` —Å—Ç–≤–æ—Ä—ñ—Ç—å –Ω–∞–±–æ—Ä–∏ –¥–∞–Ω–∏—Ö `train_inputs`, `train_targets`, `val_inputs`, `val_targets` - –¥–µ `inputs` - –≤—Ö—ñ–¥–Ω—ñ –¥–∞–Ω—ñ (–¥–∞—Ç–∞—Ñ—Ä–µ–π–º), `targets` - –¥–∞–Ω—ñ —Ü—ñ–ª—å–æ–≤–æ—ó –∫–æ–ª–æ–Ω–∫–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ–≥–æ –ø—ñ–¥–Ω–∞–±–æ—Ä—É.

In [5]:
target_col = "Exited"
drop_from_input_cols = [target_col, "id", "CustomerId", "Surname"] # surname seems to be useless here
input_cols = raw_df.columns.drop(drop_from_input_cols)

print(f"target col: {target_col}")
print(f"input cols: {input_cols}")

train_inputs = train_df[input_cols].copy()
train_targets = train_df[target_col].copy()

val_inputs = val_df[input_cols].copy()
val_targets = val_df[target_col].copy()

target col: Exited
input cols: Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

3. –í–∏–∑–Ω–∞—á—ñ—Ç—å –∑ –¥–æ–ø–æ–º–æ–≥–æ—é `pandas.DataFrame.select_dtypes` –Ω–∞–∑–≤–∏ –∫–æ–ª–æ–Ω–æ–∫, —è–∫—ñ —î —á–∏—Å–ª–æ–≤–∏–º–∏ —ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω–∏–º–∏. –ó–∞–ø–∏—à—ñ—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏ –≤ `numeric_cols` —Ç–∞ `categorical_cols` –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ.

In [6]:
numeric_cols = train_inputs.select_dtypes(include=np.number).columns.tolist()
categorical_cols = train_inputs.select_dtypes('object').columns.tolist()

print(f"numeric_cols: {numeric_cols}")
print(f"categorical_cols: {categorical_cols}")

numeric_cols: ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']
categorical_cols: ['Geography', 'Gender']

4. –ó—Ä–æ–±—ñ—Ç—å –ø—ñ–¥–≥–æ—Ç–æ–≤–∫—É –¥–∞–Ω–∏—Ö –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω–∏—Ö —ñ —á–∏—Å–ª–æ–≤–∏—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö –¥–ª—è –≤—Ö–æ–¥—É –≤ –º–æ–¥–µ–ª—å –≤–∏—Ö–æ–¥—è—á–∏ –∑ –æ—Å–≤–æ—î–Ω–æ–≥–æ –Ω–∞ –¥–∞–Ω–∏–π –º–æ–º–µ–Ω—Ç –Ω–∞ –∫—É—Ä—Å—ñ. –í–∞—Ä—ñ–∞–Ω—Ç–∏ –ø–µ–µ—Ä–¥–æ–±—Ä–æ–±–∫–∏, –∑ —è–∫–∏–º–∏ –º–∏ –≤–∂–µ –∑–Ω–∞–π–æ–º—ñ:
  - –º–∞—Å—à—Ç–∞–±—É–≤–∞–Ω–Ω—è —á–∏—Å–ª–æ–≤–∏—Ö –æ–∑–Ω–∞–∫,
  - –∑–∞–ø–æ–≤–Ω–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å, —è–∫—â–æ –≤–æ–Ω–∏ —î,
  - –∫–æ–¥—É–≤–∞–Ω–Ω—è –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω–∏—Ö –æ–∑–Ω–∞–∫, –≤–∏–ª—É—á–µ–Ω–Ω—è –æ–∑–Ω–∞–∫, —è–∫—â–æ –º–∏ –≤–≤–∞–∂–∞—î–º–æ, —â–æ —Ü—ñ –¥–∞–Ω—ñ –Ω–µ—Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω—ñ –¥–ª—è –º–æ–¥–µ–ª—ñ –∞–±–∏ –º–∏ –Ω–µ –±–∞—á–∏–º–æ —Å–ø–æ—Å–æ–±—É —è–∫ —ó—Ö —Ç–∞–∫ –∑–∞–∫–æ–¥—É–≤–∞—Ç–∏, –∞–±–∏ –ø–æ–¥–∞—Ç–∏ –Ω–∞ –≤—Ö—ñ–¥ –º–æ–¥–µ–ª—ñ.

  –¢—É—Ç —î –±–∞–≥–∞—Ç–æ –≤–∞—Ä—ñ–∞–Ω—Ç—ñ–≤, —è–∫ –í–∏ –ø–æ–±—É–¥—É—î—Ç–µ –ø–µ—Ä–µ–¥–æ–±—Ä–æ–±–∫—É, –≤–∞–∂–ª–∏–≤–æ –∞–±–∏
  1) –ø–µ—Ä–µ–¥–æ–±—Ä–æ–±–∫–∞ –º–∞–ª–∞ —Å–µ–Ω—Å (–Ω–µ–º–∞—î —Å–µ–Ω—Å—É –∑–∞–ø–æ–≤–Ω—é–≤–∞—Ç–∏ –¥–∞–Ω—ñ –∫–æ–Ω—Å—Ç–∞–Ω—Ç–æ—é, —è–∫—É –º–∏ –Ω–µ –∑—Ä–æ–∑—É–º—ñ–ª–æ –∑–≤—ñ–¥–∫–∏ –≤–∑—è–ª–∏)   
  2) –º–∞—î –±—É—Ç–∏ –≤–∏–∫–æ–Ω–∞–Ω–∞ –ø—Ä–∏–Ω–∞–π–º–Ω—ñ –æ–¥–Ω–∞ –¥—ñ—è –ø–µ—Ä–µ–¥–æ–±—Ä–æ–±–∫–∏
  3) –æ–±—Ä–æ–±–∫–∞ –º–∞—ç –±—É—Ç–∏ –≤–∏–∫–æ–Ω–∞–Ω–∞ –∫–æ—Ä–µ–∫—Ç–Ω–æ —ñ –¥–ª—è —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω–∏—Ö, —ñ –¥–ª—è –≤–∞–ª. –¥–∞–Ω–∏—Ö
  4) —á–∏–º –≤–∏—â–∏–π —É –í–∞—Å –≤—Ä–µ—à—Ç—ñ –≤–∏–π–¥–µ RO–° AUC —Å–∫–æ—Ä, —Ç–∏–º –±—ñ–ª—å—à–µ —à–∞–Ω—Å—ñ–≤ –ø–µ—Ä–µ–º–æ–≥—Ç–∏ —É –∑–º–∞–≥–∞–Ω–Ω—ñ :)

  –û–ø–∏—à—ñ—Ç—å —Ä—ñ—à–µ–Ω–Ω—è –ø—Ä–æ–≤–µ–¥–µ–Ω–Ω—è –∫–æ–∂–Ω–æ–≥–æ –∑ –∫—Ä–æ–∫—ñ–≤ –ø–µ—Ä–µ–¥–æ–±—Ä–æ–±–∫–∏. –î–ª—è —á–æ–≥–æ –≤–∏ –π–æ–≥–æ —Ä–æ–±–∏—Ç–µ? –ü–æ –∑–∞–≤–µ—Ä—à–µ–Ω–Ω—é –≤–∏–≤–µ–¥—ñ—Ç—å –ø–æ 5 –∑–Ω–∞—á–µ–Ω –∑ `train_inputs`, `val_inputs` –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ `display()`.

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder

# there is no missing values in train data, but create imputer in case of missing values in test data
# use SimpleImputer strategy="mean" for base model version
def get_fitted_imputer(train_inputs, cols=None, strategy="mean"):
    if cols is None:
        cols = train_inputs.select_dtypes(include=np.number).columns.tolist()

    imputer = SimpleImputer(strategy=strategy)
    imputer.fit(train_inputs[cols])

    return imputer

# scale numeric values
# ability to experiment with mode ("MinMax" or "Standard")
def get_fitted_scaler(train_inputs, cols=None, mode="minmax"):
    if cols is None:
        cols = train_inputs.select_dtypes(include=np.number).columns.tolist()

    if mode == "minmax":
        scaler = MinMaxScaler()
    elif mode == "standard":
        scaler = StandardScaler()
    else:
        raise ValueError('mode param expected to be "minmax" or "standard"')

    scaler.fit(train_inputs[cols])

    return scaler

# one hot encoder for categorical columns
# drop if binary by default for 'Gender' col
def get_fitted_one_hot_encoder(
    train_inputs,
    cols=None,
    sparse_output=False,
    handle_unknown="ignore",
    drop="if_binary"
):
    if cols is None:
        cols = train_inputs.select_dtypes(include="object").columns.tolist()
        
    encoder = OneHotEncoder(
        sparse_output=sparse_output,
        handle_unknown=handle_unknown,
        drop=drop
    )

    encoder.fit(train_inputs[cols])

    return encoder

In [9]:
# impute
imputer = get_fitted_imputer(train_inputs, cols=numeric_cols)
train_inputs[numeric_cols] = imputer.transform(train_inputs[numeric_cols])
val_inputs[numeric_cols] = imputer.transform(val_inputs[numeric_cols])

# scale
scaler = get_fitted_scaler(train_inputs, cols=numeric_cols, mode="minmax")
train_inputs[numeric_cols] = scaler.transform(train_inputs[numeric_cols])
val_inputs[numeric_cols] = scaler.transform(val_inputs[numeric_cols])

# one hot encode
encoder = get_fitted_one_hot_encoder(train_inputs, cols=categorical_cols)
encoded_cols = list(encoder.get_feature_names_out(categorical_cols))
train_inputs[encoded_cols] = encoder.transform(train_inputs[categorical_cols])
val_inputs[encoded_cols] = encoder.transform(val_inputs[categorical_cols])

In [10]:
display(train_inputs.head(5))
display(val_inputs.head(5))

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Male
7180,0.599045,France,Male,0.214286,0.1,0.626382,0.000000,1.0,1.0,0.719772,1.0,0.0,0.0,1.0
10393,0.603819,France,Female,0.375000,0.2,0.848836,0.000000,1.0,0.0,0.727603,1.0,0.0,0.0,0.0
80,0.653938,Germany,Male,0.303571,0.6,0.554522,0.333333,1.0,0.0,0.872180,0.0,1.0,0.0,1.0
3365,0.568019,Spain,Male,0.714286,0.0,0.000000,0.333333,0.0,1.0,0.257797,0.0,0.0,1.0,1.0
12236,0.658711,France,Male,0.053571,0.3,0.000000,0.333333,1.0,1.0,0.742837,1.0,0.0,0.0,1.0

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Male
6490,0.675418,Germany,Male,0.500000,0.1,0.551870,1.000000,1.0,1.0,0.364704,0.0,1.0,0.0,1.0
3646,0.386635,France,Male,0.410714,0.5,0.000000,0.333333,1.0,1.0,0.190942,1.0,0.0,0.0,1.0
5306,0.715990,France,Female,0.357143,0.2,0.000000,0.333333,0.0,1.0,0.584853,1.0,0.0,0.0,0.0
652,0.577566,France,Female,0.446429,0.4,0.742441,0.000000,0.0,1.0,0.558109,1.0,0.0,0.0,0.0
2627,0.589499,Spain,Female,0.214286,0.4,0.000000,0.333333,1.0,0.0,0.718420,0.0,0.0,1.0,0.0

5. –ó–±–µ—Ä–µ–∂—ñ—Ç—å –¥–∞–Ω—ñ, —â–æ –º—ñ—Å—Ç—è—Ç—å—Å—è –≤ –∑–º—ñ–Ω–Ω–∏—Ö `train_inputs`, `train_targets`, `val_inputs`, `val_targets` –Ω–∞ –¥–∏—Å–∫ –≤ —Ñ–æ—Ä–º–∞—Ç—ñ `parquet`. –í –∫—ñ–Ω—Ü—ñ –≤–∏–≤–µ–¥—ñ—Ç—å —Å–ø–∏—Å–æ–∫ —Ñ–∞–π–ª—ñ–≤ –≤ –ø–∞–ø—Ü—ñ, –≤ —è–∫—É –í–∏ –∑–±–µ—Ä–µ–≥–ª–∏ —Ñ–∞–π–ª–∏ —ñ –ø–µ—Ä–µ–≤—ñ—Ä—Ç–µ, —á–∏ —Ñ–∞–π–ª–∏ –∑–±–µ—Ä–µ–≥–ª–∏—Å—å. –í–∏–≤–µ—Å—Ç–∏ —Å–ø–∏—Å–æ–∫ —Ñ–∞–π–ª—ñ–≤ –º–æ–∂–Ω–∞ –∑ `os.listdir(your_dir)` –∞–±–æ `!ls your_dir`

In [16]:
from pathlib import Path
import os

data_dir = Path("data/bank-customer")
data_dir.mkdir(parents=True, exist_ok=True)

train_inputs.to_parquet(data_dir / "train_inputs.parquet")
val_inputs.to_parquet(data_dir / "val_inputs.parquet")

pd.DataFrame(train_targets).to_parquet(data_dir / "train_targets.parquet")
pd.DataFrame(val_targets).to_parquet(data_dir / "val_targets.parquet")

os.listdir(data_dir)

['train_targets.parquet',
 'train_inputs.parquet',
 'val_inputs.parquet',
 'val_targets.parquet']

6. –ó –ø—ñ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω–∏—Ö –≤—Ö—ñ–∂–Ω–∏—Ö –¥–∞–Ω–∏—Ö —Å—Ç–≤–æ—Ä—ñ—Ç—å `X_train`, `X_val` –Ω–∞–±–æ—Ä–∏, —è–∫—ñ –º—ñ—Å—Ç—è—Ç—å –ª–∏—à–µ –∫–æ–ª–æ–Ω–∫–∏, —è–∫—ñ –ø—ñ–¥—É—Ç—å –Ω–∞ –≤—Ö—ñ–¥ –º–æ–¥–µ–ª—ñ. –ù–∞–≤—á—ñ—Ç—å –º–æ–¥–µ–ª—å –±—ñ–Ω–∞—Ä–Ω–æ—ó –∫–ª–∞—Å–∏—Ñ—ñ–∫–∞—Ü—ñ—ó –∑ –¥–æ–ø–æ–º–æ–≥–æ—é `LogisticRegression` –≤ `scikit-learn`.

7. –í–∏–≤–µ–¥—ñ—Ç—å Confusion matrix, ROC Curve, –º–µ—Ç—Ä–∏–∫—É AUROC —Ç–∞ –º–µ—Ç—Ä–∏–∫—É F1 Score –¥–ª—è –ø–æ—Ä–æ–≥–∞ –∫–ª–∞—Å–∏—Ñ—ñ–∫–∞—Ü—ñ—ó 0.5 –¥–ª—è –ø–æ–±—É–¥–æ–≤–∞–Ω–æ—ó –º–æ–¥–µ–ª—ñ –Ω–∞ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω–∏—Ö —Ç–∞ –≤–∞–ª—ñ–¥–∞—Ü—ñ–π–Ω–∏—Ö –¥–∞–Ω–∏—Ö. –©–æ –º–æ–∂–µ—Ç–µ —Å–∫–∞–∑–∞—Ç–∏ –ø—Ä–æ —è–∫—ñ—Å—Ç –º–æ–¥–µ–ª—ñ? –í–æ–Ω–∞ —Ö–æ—Ä–æ—à–∞, –ø–æ–≥–∞–Ω–∞, –∑–∞–¥–æ–≤—ñ–ª—å–Ω–∞?

8. –°—Ç–≤–æ—Ä—ñ—Ç—å –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–Ω—è –º–æ–¥–µ–ª—ñ, —è–∫–∞ –ø–µ—Ä–µ–¥–±–∞—á–∞—î –∑–∞–≤–∂–¥–∏ –º–∞–∂–æ—Ä–∏—Ç–∞—Ä–Ω–∏–π –∫–ª–∞—Å (—Ç–æ–π, —è–∫–æ–≥–æ –±—ñ–ª—å—à–µ –≤ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω–∏—Ö –¥–∞–Ω–∏—Ö). –ü–æ—Ä–∞—Ö—É–π—Ç–µ Accuracy –Ω–∞ —Ç—Ä–µ–Ω—É–≤–∞–ª—å–Ω–∏—Ö —Ç–∞ –≤–∞–ª—ñ–¥–∞—Ü—ñ–π–Ω–∏—Ö –¥–∞–Ω–∏—Ö –¥–ª—è —Ü—ñ—î—ó –º–æ–¥–µ–ª—ñ —ñ —Ç–æ—ó, —â–æ –º–∏ –Ω–∞—Ç—Ä–µ–Ω—É–≤–∞–ª–∏ –≤ –ø.6. –ó—Ä–æ–±—ñ—Ç—å –∑–∞–∫–ª—é—á–µ–Ω–Ω—è –ø—Ä–æ —è–∫—ñ—Å—Ç—å –Ω–∞—à–æ—ó –º–æ–¥–µ–ª—ñ: —è–∫—ñ—Å—Ç—å —Ö–æ—Ä–æ—à–∞, –ø–æ–≥–∞–Ω–∞, –∑–∞–¥–æ–≤—ñ–ª—å–Ω–∞?

9. –ó–±–µ—Ä–µ–∂—ñ—Ç—å –º–æ–¥–µ–ª—å —ñ —ñ–Ω—à—ñ –æ–± º—î–∫—Ç–∏, —è–∫—ñ –≤–∏ —Ö–æ—Ç—ñ–ª–∏ –± –∑–±–µ—Ä–µ–≥—Ç–∏, –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏ joblib –≤ —Ñ–∞–π–ª `log_reg.joblib`. –ü–æ—Ç—ñ–º –∑–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ –º–æ–¥–µ–ª—å –∑ —Ñ–∞–π–ª—É –≤ –∑–º—ñ–Ω–Ω—É `model_2` (—Ü–∏–º –º–∏ —Ç—Ä–µ–Ω—É—î–º–æ—Å—å –∑–∞–≤–∞–Ω—Ç–∞–∂—É–≤–∞—Ç–∏ –º–æ–¥–µ–ª—å –∑ —Ñ–∞–π–ª—É –Ω–∞ –º–∞–π–±—É—Ç–Ω—î).

10. –û–∑–Ω–∞–π–æ–º—Ç–µ—Å—å –∑ —Ä–æ–±–æ—Ç–æ—é –Ω–∞–≤–µ–¥–µ–Ω–æ—ó —Ñ—É–Ω–∫—Ü—ñ—ó `predict_raw_df`. –¶—è —Ñ—É–Ω–∫—Ü—ñ—è —Ä–æ–±–∏—Ç—å –ø—ñ–¥–≥–æ—Ç–æ–≤–∫—É –¥–∞–Ω–∏—Ö (–º–∞—Å—à—Ç–∞–±—É–≤–∞–Ω–Ω—è —á–∏—Å–ª–æ–≤–∏—Ö –∫–æ–ª–æ–Ω–æ–∫ —ñ –∫–æ–¥—É–≤–∞–Ω–Ω—è –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω–∏—Ö) —ñ –≤–∏–≤–æ–¥–∏—Ç—å –π–º–æ–≤—ñ—Ä–Ω–æ—Å—Ç—ñ –Ω–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –¥–æ –∫–ª–∞—Å—É 1 –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ —Ä—è–¥–∫–∞ –≤ –Ω–∞–¥–∞–Ω–æ–º—É –Ω–∞–±–æ—Ä—ñ.

–î–æ–ø–æ–≤–Ω—ñ—Ç—å –∞–±–æ –≤–Ω–µ—Å—ñ—Ç—å –∑–º—ñ–Ω–∏ —É —Ñ—É–Ω–∫—Ü—ñ—é –∑ –≤—Ä–∞—Ö—É–≤–∞–Ω–Ω—è–º –≤–∞—à–æ–≥–æ –ø—Ä–µ–ø—Ä–æ—Ü–µ—Å–∏–Ω–≥—É –¥–∞–Ω–∏—Ö.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

def predict_raw_df(scaler, encoder, numeric_cols, categorical_cols, input_df: pd.DataFrame):
    input_df[numeric_cols] = scaler.transform(input_df[numeric_cols])
    input_df[encoded_cols] = encoder.transform(input_df[categorical_cols])
    X_input = input_df[numeric_cols + encoded_cols]
    prob = model.predict_proba(X_input)[:,1]
    return prob

In [ ]:
predict_raw_df(scaler, encoder, numeric_cols, categorical_cols, raw_df[:5])

11. –ó—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ –∑ `test.csv` –≤ –∑–º—ñ–Ω–Ω—É `test_raw_df`. –ó—Ä–æ–±—ñ—Ç—å –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–Ω—è –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ —Ä—è–¥–∫–∞ –¥–∞–Ω–∏—Ö –∑ —Ñ—É–Ω–∫—Ü—ñ—î—é –∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è —ñ –∑–∞–ø–∏—à—ñ—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –Ω–æ–≤—É –∫–æ–ª–æ–Ω–∫—É `Exited` –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ñ `test_raw_df`.

12. –ó—á–∏—Ç–∞–π—Ç–µ —Ñ–∞–π–ª 'sample_submission.csv' —ñ –∑–ø–æ–≤–Ω—ñ—Ç—å –∫–æ–ª–æ–Ω–∫—É `Exited` –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–∏–º–∏ –≤–∞—à–æ—é –º–æ–¥–µ–ª–ª—é –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏ –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ–≥–æ `id` –∫–ª—ñ—î–Ω—Ç–∞.
–í–∏–≤–µ–¥—ñ—Ç—å –ø–µ—Ä—à—ñ 5 —Ä—è–¥–∫—ñ–≤ —Ñ—ñ–Ω–∞–ª—å–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç—É, –∑–±–µ—Ä–µ–∂—ñ—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ —Ñ–∞–π–ª `submission_log_reg.csv` (–£–í–ê–ì–ê! –Ω–µ –∑–∞–ø–∏—à—ñ—Ç—å –≤–∏–ø–∞–¥–∫–æ–≤–æ —â–µ —ñ–Ω–¥–µ–∫—Å–∏ —Ä—è–¥–∫—ñ–≤!) —ñ –∑–¥–∞–π—Ç–µ —Ü–µ–π —Ñ–∞–π–ª –Ω–∞ Kaggle –∑—ñ —Å–≤–æ–≥–æ –ø—Ä–æ—Ñ—ñ–ª—è –Ω–∞—Ç–∏—Å–Ω—É–≤—à–∏ `Submit Prediction`.